In [4]:
#1 - Existem duas lojas de hardware na cidade: Loja A e Loja B. O estoque da Loja A está no DataFrame estoqueA 
#e o estoque da Loja B está no DataFrame estoqueB. Eles decidiram se fundir em uma grande Super Store!
#Combine os estoques da Loja A e da Loja B. Salve os resultados na variável estoqueAeB.
import pandas as pd
estoqueA   = pd.read_csv('estoqueA.csv', encoding='UTF-8', sep=',')
estoqueB   = pd.read_csv('estoqueB.csv', encoding='UTF-8', sep=',')
estoqueAeB = pd.concat([estoqueA, estoqueB])

In [10]:
#Print a variável estoqueAeB e observe a quantidade de valores NaN
#2 - Substitua os valores NaN por 0
print(estoqueAeB)
semNa = estoqueAeB.fillna(value={'quantidade_estoque_A': 0, 'quantidade_estoque_B': 0})
print("\n", semNa)

            item  quantidade_estoque_A  quantidade_estoque_B
0         hammer                  12.0                   NaN
1    screwdriver                  15.0                   NaN
2          nails                 200.0                   NaN
3         screws                 350.0                   NaN
4            saw                   6.0                   NaN
5      duct tape                 150.0                   NaN
6         wrench                  12.0                   NaN
7       pvc pipe                  54.0                   NaN
0         hammer                   NaN                   6.0
1          nails                   NaN                 250.0
2            saw                   NaN                   6.0
3      duct tape                   NaN                 150.0
4       pvc pipe                   NaN                  54.0
5           rake                   NaN                  10.0
6         shovel                   NaN                  15.0
7  wooden dowels                   NaN                 192.0

             item  quantidade_estoque_A  quantidade_estoque_B
0         hammer                  12.0                   0.0
1    screwdriver                  15.0                   0.0
2          nails                 200.0                   0.0
3         screws                 350.0                   0.0
4            saw                   6.0                   0.0
5      duct tape                 150.0                   0.0
6         wrench                  12.0                   0.0
7       pvc pipe                  54.0                   0.0
0         hammer                   0.0                   6.0
1          nails                   0.0                 250.0
2            saw                   0.0                   6.0
3      duct tape                   0.0                 150.0
4       pvc pipe                   0.0                  54.0
5           rake                   0.0                  10.0
6         shovel                   0.0                  15.0
7  wooden dowels                   0.0                 192.0

In [13]:
#3 - Selecione as linhas de estoqueAeB onde a quantidade em estoque de um item seja maior que 100. 
semNa[(semNa.quantidade_estoque_A > 100) | (semNa.quantidade_estoque_B > 100)]

            item  quantidade_estoque_A  quantidade_estoque_B
2          nails                 200.0                   0.0
3         screws                 350.0                   0.0
5      duct tape                 150.0                   0.0
1          nails                   0.0                 250.0
3      duct tape                   0.0                 150.0
7  wooden dowels                   0.0                 192.0

In [ ]:
#4 - Adicione a coluna estoque_total com a soma da quantidade no estoqueA com a quantidade no estoqueB

In [ ]:
#5 - Combine todos os CSVs que começam com a palavra arquivo em um único DataFrame

In [ ]:
#6 Verique se o DataFrame estudantes possui algum registro duplicado

In [ ]:
#Inspecione o DataFrame estudantes para conhecer os dados e colunas
#7- A coluna gender_age possui duas informações gênero e idade, divida essa coluna em duas novas, gênero e idade
#Imprima o .head()  para ver como fica o DataFrame após a criação das novas colunas.