In [2]:
#1 - Existem duas lojas de hardware na cidade: Loja A e Loja B. O estoque da Loja A está no DataFrame estoqueA 
#e o estoque da Loja B está no DataFrame estoqueB. Eles decidiram se fundir em uma grande Super Store!
#Combine os estoques da Loja A e da Loja B. Salve os resultados na variável estoqueAeB.
import pandas as pd
estoqueA   = pd.read_csv('estoqueA.csv', encoding='UTF-8', sep=',')
estoqueB   = pd.read_csv('estoqueB.csv', encoding='UTF-8', sep=',')
estoqueAeB = estoqueA.merge(estoqueB)

In [3]:
#Print a variável estoqueAeB e observe a quantidade de valores NaN
#2 - Substitua os valores NaN por 0
print(estoqueAeB)
semNa = estoqueAeB.fillna(value={'quantidade_estoque_A': 0, 'quantidade_estoque_B': 0})
print("\n", semNa)

        item  quantidade_estoque_A  quantidade_estoque_B
0     hammer                    12                     6
1      nails                   200                   250
2        saw                     6                     6
3  duct tape                   150                   150
4   pvc pipe                    54                    54

         item  quantidade_estoque_A  quantidade_estoque_B
0     hammer                    12                     6
1      nails                   200                   250
2        saw                     6                     6
3  duct tape                   150                   150
4   pvc pipe                    54                    54

In [4]:
#3 - Selecione as linhas de estoqueAeB onde a quantidade em estoque de um item seja maior que 100. 
semNa[(semNa.quantidade_estoque_A > 100) | (semNa.quantidade_estoque_B > 100)]

        item  quantidade_estoque_A  quantidade_estoque_B
1      nails                   200                   250
3  duct tape                   150                   150

In [6]:
#4 - Adicione a coluna estoque_total com a soma da quantidade no estoqueA com a quantidade no estoqueB
estoqueAeB['estoque_total'] = estoqueAeB.quantidade_estoque_A + estoqueAeB.quantidade_estoque_B
estoqueAeB

        item  quantidade_estoque_A  quantidade_estoque_B  estoque_total
0     hammer                    12                     6             18
1      nails                   200                   250            450
2        saw                     6                     6             12
3  duct tape                   150                   150            300
4   pvc pipe                    54                    54            108

In [5]:
#5 - Combine todos os CSVs que começam com a palavra arquivo em um único DataFrame
import glob as gb
arquivos = gb.glob("arquivo*.csv")
dataFrames = [];
for nomeCsv in arquivos:
    df = pd.read_csv(nomeCsv, encoding='UTF-8', sep=',')
    dataFrames.append(df)

dfs = pd.concat(dataFrames)
dfs

   Unnamed: 0          full_name gender_age Fractions Probability       grade
0           0     Barrett Feragh        M14       76%         72%   9th grade
1           1    Llewellyn Keech        M14       83%         87%  12th grade
2           2  Delilah Sowthcote        F16       90%         79%  10th grade
3           3       Terrell Geri        M15       80%         86%  11th grade
4           4     Gram Hallewell        M14       67%         78%  10th grade
..        ...                ...        ...       ...         ...         ...
95         95           Maxi Dew        F16       77%         71%  10th grade
96         96        Jewell Boas        F15       57%         90%  12th grade
97         97       Lebbie Twine        F17       72%         91%  12th grade
98         98      Garek Culbert        M14       64%         80%  11th grade
99         99   Cristine Warboys        F16       74%         74%  12th grade

[900 rows x 6 columns]

In [ ]:
#6 Verique se o DataFrame estudantes possui algum registro duplicado
estudantes = pd.read_csv('estudantes.csv', encoding='UTF-8', sep=',');

In [ ]:
#Inspecione o DataFrame estudantes para conhecer os dados e colunas
#7- A coluna gender_age possui duas informações gênero e idade, divida essa coluna em duas novas, gênero e idade
#Imprima o .head()  para ver como fica o DataFrame após a criação das novas colunas.
genero_idade = estudantes.gender_age.str.split('_')
estudantes['genero'] = genero_idade.str.get(0)
estudantes['idade']  = genero_idade.str.get(1)
estudantes